/* Главная страница стилизация */
/* Глобальные теги */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
  background-color: #ffffff;
}
@font-face {
  font-family: 'gilroy'; /* Имя шрифта */
  font-style: normal;
  font-weight: 300;
  src: local('Gilroylight'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  
 }
@font-face {
  font-family: 'gilroy'; /* Имя шрифта */
  font-style: normal;
  font-weight: 800;
  src: local('Gilroyextrabold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  
}
img {max-width: 100%;
height:auto;}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1160px;
  padding: 0;
}
.container-head {
  margin: 0 auto;
  width: 1040px;
  padding: 0;
}

/* header */

.main-header-logo {
  display: inline-block;
  margin-top: -17px;
  margin-bottom: 5px;
}
.main-header-logo:hover, .main-header-logo:focus {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-header {
position: relative;
color:#000000;
background-color: rgba(246, 197, 46, 0.5);

margin-top:40px;
height: 186px;
margin-bottom: 0;

}


.user-navigation, .site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation a, .site-navigation a{
  color:#000000;
}

.bold-text {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  
}

.search {
  position: relative;
  margin-left: 0;
  
}
.search input {
  border:none;
  vertical-align: bottom;
  padding-left:40px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: transparent;
  width: 355px;
  color: rgba(0, 0, 0, 0.3);
}

.search::before {
  content:"";
  position: absolute;
  width: 16px;
  height: 16px;
  
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  bottom:14px;
  left:4px;
}
.search button {
  visibility: hidden;
  width: 85px;
  height: 49px;
  border:2px solid black;
  background: transparent;
}
.search input:hover {
  color: rgba(0, 0, 0, 0.6);
}
.search input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid black;
}
.search input:focus ~ button {
  visibility: visible;
}
.search button:focus, .search button:hover {
  background: #000000;
  color: #ffffff;
}
.search button:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.login, .comparement, .cart {
  position: relative;
  padding-left: 27px;
}
.login::before {
  content: "";
  position: absolute;
  width: 13px;
  height:12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.comparement::before {
  content: "";
  position: absolute;
  width: 10px;
  height:10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height:12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.site-navigation a {
  margin: 0;
  padding: 0;
}
a.focus-menu {
  position: relative;
  padding-right: 29px;
}
.focus-menu::after {
  content: "";
  position: absolute;
  width: 16px;
  height:16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  right:0;
  top: 2px;
  opacity: 0.3;
}

.user-navigation a:hover, .user-navigation a:focus, 
.site-navigation a:hover .site-navigation a:focus, .main-navigation .bold-text a:hover,
.main-navigation .bold-text a:focus {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}


.user-navigation-flex {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 29px;
  
}

.user-navigation {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-navigation li:nth-child(1) {
  margin-right: 222px;
}
.site-navigation li:nth-child(2) {
  padding:0; margin:0;
  
}
.site-navigation li:nth-child(3) {
  
}
.site-navigation li:nth-child(4) {
  margin-right:0;
}

/* main */

.article-wrapper {
  position: relative;
  display: block;
  padding: 0;
  background-image: linear-gradient(rgba(246, 197, 46, 0.5) 22%, #ffffff 22%);
  height:500px;
  margin-bottom: 91px;
  border: 2px solid green;
}
  
.article-wrapper::before {
  position: absolute;
  top: 37px;
  right: 460px;
  content: "";
  width: 100px;
  height: 7px;
  background-image: url("../img/hor-line-header.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  color: #ffffff;
}
article:nth-child(1)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  right: 47px;
  content: "01";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  
  color: #ffffff;
  border: 2px solid red;
}
article:nth-child(2)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  right: 47px;
  content: "02";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  
  color: #ffffff;
  border: 2px solid red;
}
article:nth-child(3)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  right: 47px;
  content: "03";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  
  color: #ffffff;
  border: 2px solid red;
}


.slider-1-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 78px;
  right: 80px;
  top:329px;
}
.button {
  width:12px;
  height: 12px;
  background:url("../img/slider-button-empty.svg") no-repeat;
  background-size: contain;
  border: none;
}
.active {
  width:12px;
  height: 12px;
  background:url("../img/slider-button.svg") no-repeat;
  background-size: contain;
  border: none;
}

.slider-items {
  display: block;
  position: relative;
  padding: 0;
  width:1160px;
  height:500px;
  border: 2px solid yellow;
}
.article {
  display: block;
  position: relative;
  padding: 0;
  width:1160px;
  height:500px;
  border: 2px solid orange;
}


.slider-items article {
  display: none;
}
.slider-items article:nth-child(1) {
  display: flex;
  

}
.article-image {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 580px;
  height: 500px;
  margin-right:16px;
  border:1px solid lightgreen;
}

.article-text {
  box-sizing: border-box;
  width: 490px;
  height: 500px;
  padding:0;
  padding-top:75px;
  border:1px solid lightpink;
}


article h2 {
  margin-bottom: 16px;
}
article p {
  margin-bottom: 48px;
}
article .button-link {
  margin-bottom: 46px;
}


article b {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  color: #000000;
}

article a{
  font-family: 'gilroy', Arial, sans-serif;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.button-link {
  display: inline-block;
  box-sizing: border-box;
  min-width: 220px;
  height: 40px;
  padding:8px;
  border: none;
  background-image:linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  text-align: center;
  vertical-align: middle;
}
article a:hover, article a:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}
article a:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}
table {
  border:1px solid red;
  border-collapse: collapse;
}
  
th,td {
  width:140px;
  text-align: left;
  padding: 0;
  padding-top: 5px;
  border:1px solid red;
}
th:first-child {
  width:160px;
}

th {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #000000;
}
td {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

/* Catalog  */

.box {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
  background: rgba(246, 197, 46, 0.5);
  text-align: center;
}
.vr .box::before{
  content:"";  
  position: absolute;
  width: 97px;
  height: 55px;
  top:52px;
  left:31px;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
}
.mon .box::before{
  content:"";  
  position: absolute;
  width: 86px;
  height: 117px;
  top:42px;
  left:37px;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
}
.act .box::before{
  content:"";  
  position: absolute;
  width: 72px;
  height: 87px;
  top:36px;
  left:49px;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
}
.fit .box::before{
  content:"";  
  position: absolute;
  width: 107px;
  height: 65px;
  top:47px;
  left:28px;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
}
.sma .box::before{
  content:"";  
  position: absolute;
  width: 56px;
  height: 98px;
  top:31px;
  left:55px;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
}
.cop .box::before{
  content:"";  
  position: absolute;
  width: 132px;
  height: 69px;
  top:45px;
  left:13px;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
}

.catalog-main-list li {
  width: 160px;
}
.catalog-main-list {
  display: flex;
  justify-content: space-between;
  widows: 1160px;
  height: 241px;
  border: 1px solid red;
}
.catalog-main{
  margin-bottom: 78px;
}
.catalog-main .box:hover {
  background: rgba(246, 197, 46, 1);
}
.catalog-main a:active {
  color: rgba(0, 0, 0, 0.3)
}
.catalog-main a:active h3 {
  color: rgba(0, 0, 0, 0.3)
}
.catalog-main a:active ::before {
  opacity: 0.3;
}

.catalog-main ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.catalog-main h3 {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}
/* Slider 2 (services) */
  
.slider-services {
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 25%, #E5E5E5 25%);
  height:390px;
  margin-bottom: 95px;
}
.list-services-flex {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 1160px;
  border:1px solid yellow;
}
 
.describing-of-services li:nth-child(1) ::before{
  content:"";  
  position: absolute;
  width: 136px;
  height: 164px;
  top:86px;
  right:70px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}
.describing-of-services li:nth-child(2) ::before{
  content:"";  
  position: absolute;
  width: 136px;
  height: 164px;
  top:86px;
  right:70px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}
.describing-of-services li:nth-child(3) ::before{
  content:"";  
  position: absolute;
  width: 136px;
  height: 164px;
  top:86px;
  right:70px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.slider-services ul {
  list-style: none;
  margin:0;
  padding:0;
}
.list-of-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277px;
  height: 320px;
  border: 1px solid red;
  border-right: 7px solid black;
  margin-right:0;
}
.describing-of-services li{
  
  width: 460px;
  height: 320px;
  border: 1px solid green;
  padding-left: 118px;
}
.describing-of-services h3 {
  margin-top:72px;
  border: 1px solid red;
  margin-bottom: 0;
}
.describing-of-services p {
  margin-top:30px;
  border: 1px solid red;
}
.describing-of-services li {
  display: none;
}
.describing-of-services li:nth-child(1) {
  display: inline-block;
}

.list-of-services a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  color: #000000;
  text-transform: uppercase;
} 
.describing-of-services h3, .about-us h2, .contacts h2{
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  color: #000000;
}
.list-of-services a:hover, .list-of-services a:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  
}
.list-of-services a:active {
 
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.button-link.del {
  margin-bottom:25px;
}
.button-link.war {
  margin-bottom:25px;
}


/* Brands */

.brand {
  display: flex;
  justify-content: space-between;
}
.companies ul{
  list-style: none;
  margin:0;
  padding:0;
}
.companies a {
  opacity: 0.2;
}
.companies a:hover {
  opacity: 1;
}
.companies {
  margin-bottom: 80px;
}

/* About */

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding:0;
  margin-bottom: 80px;
  width: 1160px;
  height: 576px;
  border: 1px solid red;
}
.about::before {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  top:0px;
  left:0px;
  background-image: url("../img/black-line.png");
  background-repeat: no-repeat;
}
.about::after {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  top:0px;
  left:600px;
  background-image: url("../img/black-line.png");
  background-repeat: no-repeat;
}

.about-us {
  width: 480px;
  border: 1px solid red;

}
.contacts {
  width: 560px;
  border: 1px solid red;
}
.about-us li{
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
}
.about-us a, .contacts a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
}
.about-us a:hover, .about-us a:focus, .contacts a:hover, .contacts a:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}
.about-us a:active, .contacts a:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}
.about h2 {
  border: 1px solid powderblue;
  margin-top: 50px;
  margin-left:0;
}
.about p {
  border: 1px solid red;
  
  margin-bottom: 33px;
  letter-spacing: 0;
}

.about-us ul { 
  margin-top:60px;
  margin-bottom:58px;
}
.contacts img{
  margin-bottom:68px;
}

/* footer */

.main-footer {
  display: block;
  color:#ffffff;
  background-color: #464646;
  height: 323px;
}

.main-footer p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
}
.user-navigation-footer a {
  color:rgba(255, 255, 255, 0.7);
}
.social-networks a, .site-navigation-footer a {
  color:#ffffff; 
}
.site-navigation-footer a:hover, .site-navigation-footer a:focus {
  color:rgba(255, 255, 255, 0.6);
}

.user-navigation-footer a:hover, .user-navigation-footer a:focus {
  color: rgb(255, 255, 255);
}



.site-navigation-footer, .social-networks, .user-navigation-footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-1 {
  float:left;
  position: relative;
  width:360px;
  height:323px;
}
.footer-2 {
  float:left;
  width:440px;
  height:323px;
}
.footer-3 {
  float:left;
  width:360px;
  height:323px;
}
.footer-1::after {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: 79px;
  background-image: url("../img/yellow-line-footer.png");
  background-repeat: no-repeat;
}
a.main-footer-logo {
  display: inline-block;
  margin-top: 65px;
  margin-bottom: 0;
  padding:0;
}
.footer-1 p {
  margin-top: 18px;
}


.site-navigation-footer {
  margin-top:135px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.social-networks {
  padding-right:16px;
  padding-left:16px;
  margin-top:62px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 32px;
}


.user-navigation-footer {
  margin-top:62px;
  display:flex;
  justify-content: flex-end;
}
.footer-3 p {
  margin-top: 38px;
  text-align: right;
  
}
.user-navigation-footer {
  position: relative;
}
.user-navigation-footer li:nth-child(1){
margin-right:44px;
}
.user-navigation-footer li:nth-child(2){
  margin-right:44px;
}

.user-navigation-footer .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height:12px;
  background-image: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.user-navigation-footer .comparement::before {
  content: "";
  position: absolute;
  width: 10px;
  height:10px;
  background-image: url("../img/compare-yellow.png");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.user-navigation-footer .cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height:12px;
  background-image: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.html-logo {
  display: inline-block;
  margin-top:47px;
  margin-left:332px;
}
.social-button {
  display: inline-block;
  opacity: 0.3;
  margin-left:10px;
  margin-right:10px;
}
.social-networks a:hover, .social-networks a:focus  {
  opacity: 0.6;
}
.social-networks a:active {
  opacity: 0.1;
}
a.html-logo:hover, a.html-logo:focus{
  opacity: 0.6; 
}
a.html-logo:active{
  opacity: 0.3; 
}
/*  
.main-footer {
  padding-top: 63px;
}


.footer-1 {
  display: inline-block;
  width:260px;  
  position: relative;
  height: 320px;
  margin:0;
  padding:0;
  
}
.footer-1::after {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: 0px;
  
  background-image: url("../img/yellow-line-footer.png");
  background-repeat: no-repeat;
}
*/



/* inner */

.user-navigation .logout{
  color:rgba(0, 0, 0, 0.3);
}
.page-title {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.breadcrumbs, .breadcrumbs a{
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}
.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.filters {
  width: 468px;
  background-color: #ebebeb;
}


.filters h2, .sort h2 {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000; 
  text-transform: uppercase;
}
.fieldset-filters legend {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000; 
}
.fiters label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 0.14px;
  color: #000000; 
}
.catalog-list {
  list-style: none;
}
.catalog-list h3 {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000; 
}
.catalog-list a {
  color: #000000; 
}
.item-price {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000; 
}
.yellow {
  height: 40px;
  width: 220px;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
.compare-button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}
.sort {
  width: 1440px;
  background-color: #ebebeb;
}
.sort ul{
  list-style: none;
}

.sort a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3); 
}
.sort a:hover, .sort a:focus {
  color: rgba(0, 0, 0, 0.6); 
}



.pagination {
  background: #ebebeb;
  width:759px;
  list-style: none;
}

.pagination a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3); 
  text-transform: uppercase;
}
.pagination li:first-child a, .pagination li:last-child a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000; 
  text-transform: uppercase;
}
.pagination a:hover, .pagination a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
  width: 136px;
  height: 70px;
  background-color: #d9d9d9;
}

/* misc */

.menu-popup-list, .Write-us-popup, .map-popup {
  display: none;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }





  /* Кекс body > * { background-color: rgba(255,0,0,0.5); } body > * > * { background-color: rgba(255,255,0,0.5); } body > * > * > * { background-color: rgba(0,255,0,0.5); } body > * > * > * { background-color: rgba(255,0,255,0.5); } */