/* Главная страница стилизация */
/* Глобальные теги */
body {
  
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
  background-color: #ffffff;
}
@font-face {
  font-family: 'gilroy'; /* Имя шрифта */
  font-style: normal;
  font-weight: 300;
  src: local('Gilroylight'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  
 }
@font-face {
  font-family: 'gilroy'; /* Имя шрифта */
  font-style: normal;
  font-weight: 800;
  src: local('Gilroyextrabold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  
}
img {max-width: 100%;
height:auto;}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1160px;
  padding: 0;
}
.container-head {
  margin: 0 auto;
  width: 1040px;
  padding: 0;
}

/* header */

.main-header-logo {
  display: inline-block;
  margin-top: -18px;
  margin-bottom: 8px;
}
.main-header-logo img{
  display: block;
}
a[href].main-header-logo:hover, a[href].main-header-logo:focus {
  opacity: 0.6;
}
a[href].main-header-logo:active {
  opacity: 0.3;
}
.main-header {
position: relative;
color:#000000;
background-color: rgba(246, 197, 46, 0.5);

margin-top:40px;
height: 186px;
margin-bottom: 0;

}


.user-navigation, .site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation a, .site-navigation a{
  color:#000000;
}

.bold-text {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  
}
form.search {
  width: 500px;
  
}
.search {
  position: relative;
  margin-left: 0;
}
.search input {
  border:none;
  vertical-align: bottom;
  padding-left:39px;
  padding-bottom: 14px;
  padding-top: 14px;
  background: transparent;
  width: 355px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid transparent;
}

.search::before {
  content:"";
  position: absolute;
  width: 16px;
  height: 16px;
  
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  bottom:16px;
  left:4px;
}
.search button {
  visibility: hidden;
  width: 85px;
  height: 49px;
  border:2px solid black;
  background: transparent;
}
.search:focus-within button{
  visibility: visible;
}
.search input::placeholder {
  color: rgba(0, 0, 0, 0.3)
}
.search:hover ::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid black;
}

.search button:focus, .search button:hover {
  background: #000000;
  color: #ffffff;
}
.search button:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}



.login, .comparement, .cart {
  position: relative;
  padding: 0px;
  margin: 0px;
  padding-left: 27px;
}
.login::before {
  content: "";
  position: absolute;
  width: 13px;
  height:12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.comparement::before {
  content: "";
  position: absolute;
  width: 10px;
  height:10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  left: 3px;
  top: 5px;
}
.cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height:12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  left: 4px;
  top: 4px;
}
.site-navigation a {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a.focus-menu {
  position: relative;
  padding-right: 29px;
}
.focus-menu::after {
  content: "";
  position: absolute;
  width: 16px;
  height:16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  right:2px;
  top: 4px;
  opacity: 0.3;
}

.user-navigation a:hover, .user-navigation a:focus, 
.site-navigation a:hover .site-navigation a:focus, .main-navigation .bold-text a:hover,
.main-navigation .bold-text a:focus {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}
.user-navigation a:active, .site-navigation a:active, .main-navigation .bold-text a:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}


.user-navigation-flex {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 29px;
  width: 1040px;
}

.user-navigation {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.user-navigation li:last-child {
  text-align: right;
}
.user-navigation li:nth-child(2) {
  width: 80px;
  text-align: left;
  }
.user-navigation li:last-child, .user-navigation li:nth-last-child(2){
  width: 100px;
  margin-left: 20px;
  text-align: right;
  
}

.user-navigation li:first-child {
  width:160px;
  margin-right: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  
}

.site-navigation {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
}
.site-navigation > li:nth-child(1) {
  
  width: 300px;
  
  margin-right:240px;
  
}
.site-navigation > li:nth-child(2) {
  width:140px;
  
  
}
.site-navigation > li:nth-child(3) {
  
  text-align: left;
  width:140px;
  margin-left: 20px;
}
.site-navigation > li:nth-child(4) {
  width:140px;
  text-align: right;
  padding:0;
  margin-left: 60px;
  
}
.site-navigation > li:nth-child(4) a {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.menu-popup-list {
  visibility: hidden;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  position: absolute;
  left: 0px;
  top: 136px;
  width:1160px;
  height:163px;
  background-color: #f7e296;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top:28px;
  padding-bottom:20px;
  padding-left:60px;
  z-index: 2;
  
}
.menu-popup-list li { 
  display: inline-block;
  
  width:200px;
  
  height:30px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  margin-bottom:7px;
  text-align: left;
  vertical-align: middle;
}
.menu-popup-list li:nth-last-child(2) {
margin-bottom: 36px;
}

.menu-popup-list a {
  font-family: 'Open Sans'; 
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 0.36px;
  text-transform: none;
  margin:0;
  padding:0;
  
}
.site-navigation > li:nth-child(1):hover .menu-popup-list {
  visibility: visible;
}
.menu-popup-list:hover {
  visibility: visible;
}
.site-navigation > li:nth-child(1):focus-within .menu-popup-list {
  visibility: visible;
}

/* main */

.article-wrapper {
  position: relative;
  display: block;
  padding: 0;
  background-image: linear-gradient(rgba(246, 197, 46, 0.5) 113px, #ffffff 113px);
  height:500px;
  margin-bottom: 93px;
  
}
  
.article-wrapper::before {
  position: absolute;
  top: 39px;
  right: 460px;
  content: "";
  width: 100px;
  height: 7px;
  background-image: url("../img/hor-line-header.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  color: #ffffff;
}
article:nth-child(1)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  right: 47px;
  content: "01";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  z-index: 0;
  color: #ffffff;
 
}
article:nth-child(2)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  right: 47px;
  content: "02";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  z-index: 0;
  color: #ffffff;
  
}
article:nth-child(3)::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  right: 47px;
  content: "03";
  font-family: 'gilroy'; 
  font-style: normal;
  font-weight: 800;
  line-height: 131px;
  font-size: 179px;
  letter-spacing: 1.79px;
  z-index: 0;
  color: #ffffff;
  
}


.slider-1-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 78px;
  right: 80px;
  top:329px;
  z-index: 5;
}
.button {
  width:12px;
  height: 12px;
  background:url("../img/slider-button-empty.svg") no-repeat;
  background-size: contain;
  border: none;
}
.slider-1-buttons .button:hover {
cursor: pointer;
}

.active {
  width:12px;
  height: 12px;
  background:url("../img/slider-button.svg") no-repeat;
  background-size: contain;
  border: none;
}

.slider-items {
  display: block;
  position: relative;
  padding: 0;
  width:1160px;
  height:500px;
  
}
article {
  display: flex;
  position: relative;
  padding: 0;
  width:1160px;
  height:500px;
  
}


.slider-items article {
  display: none;
}
/* Отображение статей слайдера */
.slider-items .article-show {
  display: flex;
}
/*  
.slider-items article:nth-child(1) { 
  display: flex;
  
}
*/
.article-image {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center ;
  width: 580px;
  height: 500px;
  margin-right:16px;
  
}
.article-image img{
  display: inline-block;
}

.article-text {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  padding:0;
  padding-top:80px;
  
  z-index: 1;
}


.article-text b {
  display: inline-block;
  margin-bottom: 6px;
  
}
.article-text p{
  display: inline-block;
  margin-bottom: 42px;
  
}
article .button-link {
  margin-bottom: 46px;
  margin-left: 4px;
  
}


article b {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  color: #000000;
}


article a{
  font-family: 'gilroy', Arial, sans-serif;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.button-link {
  display: inline-block;
  box-sizing: border-box;
  min-width: 220px;
  height: 40px;
  padding:8px;
  border: none;
  background-image:linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  text-align: center;
  vertical-align: middle;
}
article a:hover, article a:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}
article a:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}
table {
  
  border-collapse: collapse;
}
  
th,td {
  width:140px;
  text-align: left;
  padding: 0;
  padding-top: 5px;
  
}
th:first-child {
  width:160px;
}

th {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #000000;
}
td {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

/* Catalog  */

.box {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
  background: rgba(246, 197, 46, 0.5);
  text-align: center;
  margin: 0;
  margin-bottom: 7px;
  
}
.vr .box::before{
  content:"";  
  position: absolute;
  width: 97px;
  height: 55px;
  top:52px;
  left:31px;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
}
.mon .box::before{
  content:"";  
  position: absolute;
  width: 86px;
  height: 117px;
  top:42px;
  left:37px;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
}
.act .box::before{
  content:"";  
  position: absolute;
  width: 72px;
  height: 87px;
  top:38px;
  left:49px;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
}
.fit .box::before{
  content:"";  
  position: absolute;
  width: 107px;
  height: 65px;
  top:50px;
  left:28px;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
}
.sma .box::before{
  content:"";  
  position: absolute;
  width: 56px;
  height: 98px;
  top:31px;
  left:55px;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
}
.cop .box::before{
  content:"";  
  position: absolute;
  width: 132px;
  height: 69px;
  top:48px;
  left:13px;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
}

.catalog-main-list li {
  width: 160px;
  
}
.catalog-main-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 241px;
  
}
.catalog-main{
  margin-bottom: 81px;
}
.catalog-main a:hover .box{
  background: rgba(246, 197, 46, 1);
}
.catalog-main a:active {
  color: rgba(0, 0, 0, 0.3)
}
.catalog-main a:active h3 {
  color: rgba(0, 0, 0, 0.3)
}
.catalog-main a:active ::before {
  opacity: 0.3;
}

.catalog-main ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.catalog-main h3 {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}
/* Slider 2 (services) */
  
.slider-services {
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 100px, #E5E5E5 100px);
  height:388px;
  margin-bottom: 99px;
  
}
.list-services-flex {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 1160px;
  
}

.describing-of-services li:nth-child(1) ::before{
  content:"";  
  position: absolute;
  width: 136px;
  height: 164px;
  top:86px;
  right:70px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}
.describing-of-services li:nth-child(2) ::before{
  content:"";  
  position: absolute;
  width: 171px;
  height: 195px;
  top:86px;
  right:70px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}
.describing-of-services li:nth-child(3) ::before{
  content:"";  
  position: absolute;
  width: 156px;
  height: 188px;
  top:86px;
  right:70px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.slider-services ul {
  list-style: none;
  margin:0;
  padding:0;
}
.list-of-services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 277px;
  height: 320px;
  
  border-right: 7px solid black;
  margin-right:0;
}
.describing-of-services li{
  
  width: 460px;
  height: 320px;
  
  padding-left: 118px;
}
.describing-of-services h3 {
  margin-top:72px;
  
  margin-bottom: 0;
}
.describing-of-services p {
  margin-top:30px;
  
}
.describing-of-services li {
  display: none;
}
.describing-of-services .show {
  display: inline-block;
}
/* .describing-of-services li:nth-child(1) { 
  display: inline-block;
}*/

.list-of-services a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  color: #000000;
  text-transform: uppercase;
} 
.describing-of-services h3, .about-us h2, .contacts h2{
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  color: #000000;
}
.button-link-ser{
  display: inline-block;
  box-sizing: border-box;
  min-width: 160px;
  height: 40px;
  padding:8px;
  border: none;
  background-image:linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  text-align: center;
  vertical-align: middle;
}
.list-of-services a:not(.act):hover {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  cursor: pointer;
}
.list-of-services a.del:active {
  padding-right: 134px;
  padding-left: 20px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.list-of-services .del-black {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding-right: 134px;
  padding-left: 20px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}

.list-of-services a.war:active {
  padding-right: 139px;
  padding-left: 25px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.list-of-services .war-black {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding-right: 139px;
  padding-left: 25px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.list-of-services a.cre:active {
  
  padding-right: 153px;
  padding-left: 37px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.list-of-services .cre-black {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding-right: 153px;
  padding-left: 37px;
  background-image: none;
  background-color: rgba(0, 0, 0, 1); 
  color: #f7e184;
}
.button-link-ser.del {
  margin-top:80px;
  margin-bottom:25px;
}
.button-link-ser.war {
  margin-bottom:25px;
}



/* Brands */

.brand {
  display: flex;
  justify-content: space-between;
}
.companies ul{
  list-style: none;
  margin:0;
  padding:0;
}

.companies {
  margin-bottom: 80px;
}
.brand img {
  opacity: 0;
}
.dji, .sp, .gp, .vive {
  display: inline-block;
  width:260px;
  height: 100px;
}
.brand .dji {
  background-image: url("../img/logo-1-bw.jpg");
  background-size: 260px 100px;
  background-repeat: no-repeat;
}
.brand .sp {
  background-image: url("../img/logo-3-bw.jpg");
  background-size: 260px 100px;
  background-repeat: no-repeat;
}
.brand .gp{
  background-image: url("../img/logo-2-bw.jpg");
  background-size: 260px 100px;
  background-repeat: no-repeat;
}
.brand .vive {
  background-image: url("../img/logo-4-bw.jpg");
  background-size: 260px 100px;
  background-repeat: no-repeat;
}
.companies a:hover img{
  opacity: 1;
  transition-duration: 1s;
}

/* About */

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding:0;
  margin-bottom: 80px;
  width: 1160px;
  height: 576px;

}
.about::before {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  top:0px;
  left:0px;
  background-image: url("../img/black-line.png");
  background-repeat: no-repeat;
}
.about::after {
  content:"";  
  position: absolute;
  width: 80px;
  height: 7px;
  top:0px;
  left:600px;
  background-image: url("../img/black-line.png");
  background-repeat: no-repeat;
}

.about-us {
  width: 477px;
}
.contacts {
  width: 560px;
}
.about-us li{
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
  margin-left:0px;
}
.about-us a, .contacts a.popup {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
}
.button-link-about {
  display: inline-block;
  box-sizing: border-box;
  min-width: 260px;
  height: 40px;
  padding:8px;
  border: none;
  background-image:linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  text-align: center;
  vertical-align: middle;
}
.about-us a:hover, .about-us a:focus, .contacts a.popup:hover, .contacts a.popup:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}
.about-us a:active, .contacts a.popup:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}
.about h2 {
  margin-top: 50px;
  margin-left:0;
  margin-bottom: 45px;
}
.about p {
  margin:0;
  padding: 0;
  margin-bottom: 30px;
  letter-spacing: 0;
}

.about-us ul { 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding-left:0;
  margin-left:0;
  margin-top:66px;
  margin-bottom:54px;
  list-style-type: circle;
  list-style-position: inside;
}
.contacts img{
  margin-left:0;
  margin-top:10px;
  margin-bottom:60px;
}

/* footer */

.main-footer {
  display: block;
  color:#ffffff;
  background-color: #464646;
  height: 323px;
  padding-top:63px;
}


.user-navigation-footer a {
  color:rgba(255, 255, 255, 0.7);
}
.social-networks a, .site-navigation-footer a {
  color:#ffffff; 
}
.site-navigation-footer a:hover, .site-navigation-footer a:focus {
  color:rgba(255, 255, 255, 0.6);
}
.site-navigation-footer a:active {
  color:rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:hover, .user-navigation-footer a:focus {
  color: rgb(255, 255, 255);
}
.user-navigation-footer .logout{
  color:rgba(255, 255, 255, 0.3);
}
.user-navigation-footer a:active {
  color:rgba(255, 255, 255, 0.3);
}


.site-navigation-footer, .social-networks, .user-navigation-footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-1 {
  display: flex;
  position: relative;
  justify-content: space-between;
  width:1160px;
  margin-bottom: 10px;
  
}
.footer-2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width:1160px;
  margin-bottom: 45px;
}
.footer-3 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width:1160px;
}
.footer-3::before {
  content:"";  
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 7px;
  background-image: url("../img/yellow-line-footer.png");
  background-repeat: no-repeat;
}
a.main-footer-logo {
  display: inline-block;
  margin-bottom: 0;
  padding:0; 
}
a[href].main-footer-logo:hover, a[href].main-footer-logo:focus {
  opacity: 0.6;
}
a[href].main-footer-logo:active {
 opacity:  0.3;
}


.site-navigation-footer {
  
  display: flex;
  width:440px;
  justify-content: space-between;
  margin-right: 41px;
}
.site-navigation-footer li:first-child{
  margin-left:6px;
  }
.site-navigation-footer li:last-child {
  margin-right:6px;
  }

.social-networks {
  padding-right:16px;
  padding-left:16px;
  margin-top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 32px;
  width: 160px;
  margin-right: 56px;
}


.user-navigation-footer {
  display:flex;
  justify-content: flex-end;
}
.footer-3 p {
  text-align: right;
}
.main-footer p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
}
.user-navigation-footer {
  position: relative;
}
.user-navigation-footer li:nth-child(1){
  
  margin-right:35px;
}
.user-navigation-footer li:nth-child(2){
  margin-right:35px;
}

.user-navigation-footer .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height:12px;
  background-image: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  left:0;
  top: 4px;
}
.user-navigation-footer .comparement::before {
  content: "";
  position: absolute;
  width: 10px;
  height:10px;
  background-image: url("../img/compare-yellow.png");
  background-repeat: no-repeat;
  left:6px;
  top: 6px;
}
.user-navigation-footer .cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height:12px;
  background-image: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
  left:5px;
  top: 4px;
}
.html-logo {
  display: inline-block;
}
.social-button {
  display: inline-block;
  opacity: 0.3;
  margin-left:10px;
  margin-right:10px;
}
.social-networks a:hover, .social-networks a:focus  {
  opacity: 0.6;
}
.social-networks a:active {
  opacity: 0.1;
}
a.html-logo:hover, a.html-logo:focus{
  opacity: 0.6; 
}
a.html-logo:active{
  opacity: 0.3; 
}




/* inner */
.main-header.inner {
  margin-bottom: 38px;
}

.user-navigation .logout{
  color:rgba(0, 0, 0, 0.3);
}
.page-title {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.page-title {
  margin-bottom: 21px;
  
}
.breadcrumbs {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  margin-bottom:48px;
  
}
.breadcrumbs a {
  padding-right: 37px;
  
}
.breadcrumbs a:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  right:16px;
  top: 6px; 
}

.breadcrumbs, .breadcrumbs a{
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}
/* Flex catalog */

.catalog-flex {
  display: flex;

}
.catalog-flex::before {
  display: block;
  content:"";
  background-image: linear-gradient(#dcdcdc 70px, #eeeeee 70px);
  background-repeat: no-repeat;
  min-height: 1287px;
  width: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  
}
.catalog-flex::after {
  display: block;
  content:"";
  background-image: linear-gradient(#eeeeee 70px, #fff 70px);
  background-repeat: no-repeat;
  min-height: 1287px;
  width: 100px;
  flex-grow: 1;
  flex-shrink: 1;
}

.filters {
  width: 328px;
  background-image: linear-gradient(#dcdcdc 70px, #eeeeee 70px);
  flex-grow: 0;
  flex-shrink: 0;
}

.catalog-flex1 {
  width: 832px;
  background-image: linear-gradient(#eeeeee 70px, #fff 70px);
  flex-grow: 0;
  flex-shrink: 0;
}

.sort {
  height:70px;
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  
}
.price-type-popular {
  display: flex;  
  width: 540px;
  justify-content: flex-start;
  
}
.price-type-popular li:first-child {
 margin-left: 40px;
}
.price-type-popular li:nth-child(2){
  margin-left: 26px;
 }
.price-type-popular li:nth-child(3){
  margin-left: 30px;
}
.up-down {
  width:56px;
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
  
}
.up-down li {
  margin-left: 18px;
}
.up-down a{
  opacity: 0.2;
}
.up-down a:hover, .up-down a:focus {
  opacity: 0.4;
}
.up-down a:active {
  opacity: 1;
}
.sort .sort-active {
  color: rgba(0, 0, 0, 1); 
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  width: 800px;
  margin-left:32px;
  list-style: none;
  
}


/*  styles */
.filters form {
  width:200px;
}
.filters h2, .sort h2 {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000; 
  text-transform: uppercase;
}
.fieldset-filters legend {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000; 
  border-top: 2px solid black;
  width:200px;
  padding-top:10px;
  margin-bottom: 24px;
}
.fieldset-filters {
  margin-left: 60px;
  padding:0;
  margin-bottom: 33px;
  border: none;
}
.filters label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 0.14px;
  color: #000000; 
}

.catalog-list h3 {
  
  display: inline-block;
  width: 260px;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000; 
  vertical-align: top;
  padding: 0;
  margin: 0;
}
.catalog-list a {
  color: #000000; 
}
.item-price {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000; 
}

.sort ul{
  list-style: none;
  margin:0;
  padding:0;
}
.sort h2 {
  display: inline-block;
  width: 160px;
  margin-left:72px;
  text-align: left;
  
}
.sort a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3); 
}
.sort a:hover, .sort a:focus {
  color: rgba(0, 0, 0, 0.6); 
}
.sort a:active {
  color: rgba(0, 0, 0, 1); 
}
button.button-link-inner {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
.button-link-inner {
  display: inline-block;
  box-sizing: border-box;
  min-width: 200px;
  height: 40px;
  padding:8px;
  border: none;
  background-color: transparent;
  background-image:linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  text-align: center;
  vertical-align: middle;
  margin-left: 60px;
}

.button-link-inner:hover, .button-link-inner:focus {
  cursor: pointer;
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}

.button-link-inner:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}
.button-pagination {
  display: inline-block;
  box-sizing: border-box;
  width: 126px;
  height: 70px;
  padding:25px;
  border: none;
  background:transparent;
  text-align: center;
  vertical-align: middle;
}

.pagination {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebebeb;
  width:759px;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 77px;
  padding: 0;
  list-style: none;
}
.pagination a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3); 
  text-transform: uppercase;
}
.pagination li:first-child a, .pagination li:last-child a {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000; 
  text-transform: uppercase;
}
.pagination li:first-child {
  margin-right: 190px;
}
.pagination li:last-child {
  margin-left: 190px;
}
.pagination a:hover, .pagination a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
  width: 126px;
  height: 70px;
  background-color: #d9d9d9;
}
.pagination li:first-child a:active, .pagination li:last-child a:active {
  width: 126px;
  height: 70px;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
.pagination li:not(:first-child):not(:last-child) a {
  padding:10px;
  
}

/* sizes */
.catalog-list img {
  display: inline-block;
  margin: 0;
  margin-bottom: 23px;
  
}
.catalog-list span {
  display: inline-block;
  width:95px;
  
  vertical-align: top;
  text-align: right;
  margin: 0;
  padding: 0;
}
.filters h2 {
  margin:0;
  padding: 0;
  margin-top: 24px;
  margin-left: 59px;
  margin-bottom:91px;
}
li.catalog-items {
  position: relative;
  display: inline-block;
  margin:0;
  padding:0;
  width: 360px;
  height:456px;
  padding-left: 40px;
  padding-top: 17px;
  margin-bottom:35px;
}
li.catalog-items:nth-child(4)::before {
  content: "";
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top:44px;
  right:25px;
  width:56px;
  height:56px;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
li.catalog-items:nth-child(4)::after {
  content: "NEW";
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top:63px;
  right:39px;
 
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
 
}

/* forms */
.paint {
  margin-top: 11px;
  position: relative;
  width:200px;
  height: 4px;
  border-top: 2px solid #DBDBDB;
}
.green-bar {
  position: absolute;
  width:108px;
  height: 4px;
  border-top: 2px solid #91C92F;
  top:-2px;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2); 
}
legend.cost {
  position: relative;
}
label.from, label.to {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2)
}
legend.cost ~ input[type="number"] {
  background: transparent;
  border: none;
}

.paint .cst1 {
  position: absolute;
  top:-11px;
  left:-6px;
  width: 20px;
  height: 22px;
  background: none;
  border:none;
  outline: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  z-index: 1;
}
.paint .cst2 {
  position: absolute;
  top:-11px;
  left:108px;
  width: 20px;
  height: 22px;
  background: none;
  border:none;
  outline: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  z-index: 1;
}
.cst1:hover, .cst2:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fieldset-filters input[type = checkbox] {
  display: none;
}
.fieldset-filters input[type = radio] {
  display: none;
}
.color label{
  display: block;
  position: relative;
  padding-left:40px;
}
.color .check {
  content: "";
  position:absolute;
  width: 27px;
  height: 23px;
  top:7px;
  left:0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  z-index: 0;
}

input[type = "checkbox"]:checked + label .check {
  content: "";
  position:absolute;
  width: 27px;
  height: 23px;
  top:7px;
  left:0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;

}
.bluetooth label{
  display: block;
  position: relative;
  padding-left:40px;
}
.bluetooth .check-r {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top:7px;
  left:0;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}
input[type = "radio"]:checked + label .check-r {
  content: "";
  position:absolute;
  width: 25px;
  height: 25px;
  top:7px;
  left:0;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.check:hover, .check-r:hover {
opacity: 0.6;
}
.color input:disabled + label, .bluetooth input:disabled + label {
opacity: 0.25;
}
/* overlay */




.cart-compare .compare-button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}
.compare-button:hover {
  color: rgba(0, 0, 0, 1);
}
.compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.cart-compare {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:17px;
  right:0;
  width: 360px;
  height: 380px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}


.cart-compare a:first-child{
  font-family: 'gilroy', Arial, sans-serif;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
.cart-compare {
  display: none;
}
.catalog-items img:hover ~ div.cart-compare {
  display: flex;
  cursor: pointer;
}
.cart-compare:hover {
  display: flex;
  cursor: pointer;
}
.cart-compare a:first-child:hover, .cart-compare a:first-child:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}
.cart-compare a:first-child:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}

/* misc */


.modal {
  position: fixed;
  background-color: white;
  color: black; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.Write-us-popup {
  display: none; 
  width: 760px;
  padding: 90px 100px;
  top: 150px;
  left:50%;
  margin-left: -480px;
  z-index: 3;
}
.map-popup {
  display: none;
  width: 960px;
  height:559px;
  top: 150px;
  left:50%;
  margin-left: -480px;
  background-color: transparent; 
  z-index: 3;
  
}
.map-popup iframe{
  position: relative;
  width: 960px;
  height:559px;
  z-index: 3;
}
.map-popup img {
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
}
.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 0;
  border: none;
  background: none; 
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  right:22px;
  top:22px;
  z-index: 4;
  opacity: 0.5;
}
.modal-close:hover, .modal-close:focus{
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}
.Write-us-popup form {
  width: 760px;
}
.Write-us-popup label {
  display: inline-block;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1); 
  width: 360px;
  margin:0;
}
.Write-us-popup label:first-child {
  margin-right: 30px;
  margin-bottom: 38px;
}

.Write-us-popup textarea {
  background: #f2f2f2;
}

.email input, .name input{
  display: inline-block;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left:20px; 
  background: #f2f2f2;
  border: none;
}
.email input::placeholder, .name input::placeholder, textarea::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}
textarea {
  box-sizing: border-box;
  width: 760px;
  height: 156px;
  padding: 20px;
  border:none;
  margin-top:14px;
  margin-bottom:45px;
}
.Write-us-popup input:hover, textarea:hover {
  background: #eaeaea;
}
.Write-us-popup input:focus, textarea:focus {
  background: #fff;
  border: 2px solid #F0C52E;
}
.invalid {
  background: #EDB5B5;
}

button.button-link-send {
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
.button-link-send {
  display: inline-block;
  box-sizing: border-box;
  min-width: 200px;
  height: 40px;
  padding:8px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient( rgba(255,255,255,0) 42%,rgba(246, 197, 46, 1) 42%,rgba(246, 197, 46, 1) 57%, rgba(255,255,255,0) 57%); 
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

.button-link-send:hover, .button-link-send:focus {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
}

.button-link-send:active {
  background-image: none;
  background-color: rgba(246, 197, 46, 1); 
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.popup-visible {
  display: block;
}


